*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .listaDeJogos{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
} 

.container{
    border: solid 1px ;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    height: 500px;
    width: 400px;
}

.container h2{
    margin-top: 10px;
}

.container p{
    text-align: justify;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container iframe{
    width: 100%;
}
